body {
  background-color: #192126;
  max-width: 75px;
  width: 75px;
}

div.top-spacer {
  margin-top: 30px;
}

div.content {
  display: inline-block;
}

div.icon {
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 4px;
  max-height: 50px;
  max-width: 50px;
  width: 50px;
}

.icon {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.icon:hover {
	opacity: .5;
}
